/* Reset */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: Segoe UI, Verdana;
  list-style: none;
}
body {
  line-height: 1.1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display: block;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: #ccc;
}
/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
    vertical-align: middle;
}
/* --- */

body {
	background-color: #4BC6E8;
}

h2 {
	font-size: 1.7em;
	font-weight: bold;
	margin: 5px;
}

a {
	text-decoration: none;
}

#main {
	position:fixed;
	width: 100%;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#triangle {
	position: absolute;
}

#triangleBig {
	margin: 0;
	width: 0; 
	height: 0; 
	border-right: 200px solid transparent;
	border-top: 200px solid #FF4A40;
	left: 0px;
	top: 0px;
}

#triangleSmall {
	width: 0; 
	height: 0; 
	border-right: 170px solid transparent;
	border-top: 170px solid #CC144F;
	position: absolute;
	left: 0px;
	top: 0px;
}

.a1 {
	display: inline-block;	
	position: relative;
	left: 190px;
	top: 20px;
	margin: 10px;
	margin-top: 0px;
	background-color: #3D8599;
	padding: 5px;
	border-radius: 5px;
}

::selection {
	background: #00FFAA; /* Safari */
	}

::-moz-selection {
	background: #00FFAA; /* Firefox */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	#triangleBig {
		height: 40px;
		width: 100%;
		background-color: #FF4A40;
		border-top: inherit;
	}
	#triangleSmall {
		height: 30px;
		width: 100%;
		background-color: #CC144F;
		position: absolute;
		border-top: inherit;
	}
	.a1 {
		width: 93.5%;
		top: 20px;
		left: 0;
		margin: 4px;
	}
	#profilePic {
		display: none;
	}
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 321px)
and (max-width : 480px) {
	#triangleBig {
		border-right: 80px solid transparent;
		border-top: 80px solid #FF4A40;
	}
	#triangleSmall {
		border-right: 65px solid transparent;
		border-top: 65px solid #CC144F;
	}
	.a1 {
		width: 73.5%;
		left: 60px;
		top: 25px;
	}
}
/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 481px)
and (max-width : 767px) {
	#triangleBig {
		border-right: 115px solid transparent;
		border-top: 115px solid #FF4A40;
	}
	#triangleSmall {
		border-right: 95px solid transparent;
		border-top: 95px solid #CC144F;
	}
	.a1 {
		width: 72.5%;
		left: 90px;
		top: 30px;
	}
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
	#triangleBig {
		border-right: 150px solid transparent;
		border-top: 150px solid #FF4A40;
	}
	#triangleSmall {
		border-right: 120px solid transparent;
		border-top: 120px solid #CC144F;
	}
	.a1 {
		width: 78.5%;
		left: 120px;
		top: 35px;
	}
}

#profilePic {
	height: 50%;
	position: relative;
	left: 10px;
	top: -90%;
	border: 2px solid;
	border-radius: 2px;
	border-color: #ccc;
}